@font-face {
  font-family: "Pixelify Sans";
  src: url("../fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
}
.pixelated {
  font-family: "Pixelify Sans", monospace;
  color: white;
}

.sizes {
  font-size: 30px;
  line-height: 1.5;
  word-break: break-word;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
}
